exportPattern("^[^\\.]")
export(emotion)
export(intent)
export(similarity)
export(ner)
export(sentiment)
export(taxonomy)
export(abuse)
export(keywords)
export(text_parser)
export(language_detection)
export(multilang_keywords)
export(phrase_extractor)
export(nsfw)
export(popularity)
export(facial_emotion)
export(object_recognizer)
export(custom_classifier)
